@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

.main__header {
  text-align: center;
  padding: 15px 0;
}
.main__h2 {
  color: #151414;
  font-size: 54px;
  font-weight: 770;
}
.main__p {
  color: #3b433e;
  font-size: 24px;
  font-weight: 750;
}
.main__box {
  display: flex;
  justify-content: space-around;
  padding: 61px;
}
.main__cards {
  width: 270px;
  min-height: 245px;
  text-align: center;
}
.main__cards-img {
  padding: 36px 0;
}
.main__h3 {
  font-size: 28px;
  font-weight: 770;
  color: #181d19;
  padding: 18px 0;
}
.main__cards-p {
  font-size: 18px;
  font-weight: 750;
  font-family: "roboto";
}

.main__contaner{
    display: flex;
    justify-content: space-evenly;
    padding: 61px;
}

.main__card{
    width: 150px;
    height: 130px;
    text-align: center;
}
.main__card-h3{
    color: #000;
    font-size: 44px;
    font-weight: 700;
    padding: 20px;
}
.main__-card-p{
    color: #545454;
    font-size: 20px;
    font-weight: 768;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}


.header__nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 54px;
}

.header__list {
    list-style: none;
    text-decoration: none;
}

.header__link {
    list-style: none;
    text-decoration: none;
    color: #000;
}

.header__title {
    color: #333;
    font-size: 26px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.navbar__link {
    list-style: none;
    text-decoration: none;
}

.header__ikon {
    list-style: none;
}

.header__lists {
    display: flex;
    gap: 40px;
}

.header__ikons {
    display: flex;
    gap: 10px;
}

.header__last {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__last-title {
    color: #181D19;
    font-size: 76px;
    font-family: Sharp Sans No1;
    font-style: normal;
    font-weight: 770;
    line-height: normal;

    display: flex;
    width: 596px;
    flex-direction: column;
    flex-shrink: 0;
}

.header__text {
    display: flex;
    width: 504px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 30px;
    color: var(--black, #181D19);
    font-size: 24px;
    font-family: Sharp Sans No1;
    font-style: normal;
    font-weight: 750;
    line-height: 34px;
    padding-bottom: 50px;

}

.navbar__link {
    padding: 14px 30px;
    background-color: #494949;
    border-radius: 27px;
    color: #fff;
}

.navbar__link2 {
    padding: 14px 30px;
   
    border-radius: 27px;
    color: #fff;
    background: var(--green-gradient, linear-gradient(180deg, #64BB47 0%, #2C9553 100%));
    list-style: none;
    text-decoration: none;

}

.container {
    max-width: 1330px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section5 {
    margin-top: 180px;
    text-align: center;
}

.section5__title {
    color: #151414;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
}

.section5__subtitle {
    margin-top: 15px;
    color: #3B433E;
text-align: center;
font-size: 24px;
font-weight: 400;
}

.section5__card {
    padding: 50px 30px;
    text-align: center;
    max-width: 356px;
    width: 100%;
    min-height: 520px;
    border-radius: 20px;
border: 1px solid #EBEBEB;
background: #FFF;
}

.section5__card-title {
    margin-top: 25px;
    color: var(--black, #181D19);
font-size: 30px;
font-weight: 700;
}

.section5__card-text {
    margin-top: 20px;
font-size: 18px;
font-weight: 400;
line-height: 28px;
}

.section5__cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.section5__link {
    margin-top: 60px;
    display: inline-flex;
    justify-content: center;
    color: #FFF;
    border-radius: 50px;
    padding: 16px 65px;
background: var(--green-gradient, linear-gradient(180deg, #64BB47 0%, #2C9553 100%));
margin-bottom: 120px;
}



.section6 {
    background: #FCFCFC;
}

.section6__title {
    padding-top: 70px;
    color: #151414;
text-align: center;
font-size: 54px;
font-style: normal;
font-weight: 700;

}

.section6__card-nav {
    display: flex;
 
}

.section6__cards {
    margin-top: 57px;
    display: flex;
    gap: 25px;
    justify-content: center;
} 


.section6__card {
    background: #fff;
    max-width: 514px;
    width: 100%;
    min-height: 347px; 
    padding: 40px 25px;
    
}

.card__nav-title1 {
    color: var(--333333, #333);
font-size: 20px;
font-weight: 700;
}

.card__nav-title2 {
    color: #888A9A;
font-size: 14px;
font-weight: 700;
}

.card__nav-title {
    margin-left: 37px;
    margin-right: 126px;
}

.section6__card-text {
    margin-top: 32px;
    color: var(--black, #181D19);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.section6__arrow {
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;
}



.section7__title {
    padding-top: 120px;
    color: #151414;
text-align: center;
font-size: 36px;
font-weight: 770;
}

.section7__subtitle {
    margin-top: 15px;
    color: #3B433E;
text-align: center;
font-size: 24px;
font-weight: 400;
}

.section7__form {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
    padding-bottom: 150px;
}

.section7__form-input {
    outline: none;
    width: 330px;
height: 60px;
flex-shrink: 0;
border-radius: 165px;
border: 1.5px solid #F5F5F5;
background: #FFF;

color: #8A8A8A;
font-size: 18px;
font-weight: 400;
padding: 19px 20px;
}

.section7__form-btn {
    outline: none;
    border: none;
    width: 170px;
height: 60px;
flex-shrink: 0;
border-radius: 50px;
background: var(--green-gradient, linear-gradient(180deg, #64BB47 0%, #2C9553 100%));

color: var(--white, #FFF);
font-size: 20px;
font-weight: 400;
}





